// 设备尺寸
$deviceSize: (
  'PC': 1200,
  'Pad': (768, 1199),
  'Phone': (0, 767)
);

// 响应式布局
@mixin resLayout ($device) {
  $size: map-get($deviceSize, $device);

  @if type-of($size) == 'list' {
    $min: nth($size, 1);
    $max: nth($size, 2);

    @media (min-width: #{ $min }px) and (max-width: #{ $max }px) {
      @content;
    }
  } @else {
    @media (min-width: $size) {
      @content;
    }
  }
}